/* Styling for Popup */

@font-face {
    font-family: "messina";
    src: url("https://themarkup.org/static/fonts/Messina/MessinaSansWeb-Regular.woff") format("woff"), url("/static/fonts/Messina/MessinaSansWeb-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: "messina";
    src: url("https://themarkup.org/static/fonts/Messina/MessinaSansWeb-RegularItalic.woff") format("woff"), url("/static/fonts/Messina/MessinaSansWeb-RegularItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 400
}

@font-face {
    font-family: "messina";
    src: url("https://themarkup.org/static/fonts/Messina/MessinaSansWeb-Bold.woff") format("woff"), url("/static/fonts/Messina/MessinaSansWeb-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: "messina";
    src: url("https://themarkup.org/static/fonts/Messina/MessinaSansWeb-BoldItalic.woff") format("woff"), url("/static/fonts/Messina/MessinaSansWeb-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: 700
}

body {
    font-family: "messina", sans-serif;
    font-size: 75%;
    margin: 0;
}

body.close {
    display: none;
}

body.enabled {
    width: 450px;
    height: 480px;
}

body.disabled {
    width: 450px;
    height: 480px;

}

.utility-links {
    font-size: smaller;
}

h2 {
    margin: 0;
}

p{
  margin:0;
}

/*Top Bar*/

.bar {
    background-color: #F3F2F1;
    margin: 0;
}

.bar h2 {
    padding: 2%;
    border-bottom: 1px solid #000;
    font-weight: 300;
    font-size: 1.25rem;
    padding: 3% 4%;
    display: flex;
    justify-content: space-between;
}

.bar h2 span{
  padding: 1vh 0;
}

#close {
    display: flex;
}

/*Status Content*/

#theContent {
    font-size: 1.15rem;
    line-height: 1.4;
    padding: 3% 4% 5% 4%;
    font-weight: 700;
}

/*Accordions*/

/*Accordion headings
*/

.accordion-div{
margin-bottom:3%;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  margin: 0;
  font-weight: 300;
      margin: 0 4%;
    padding: 2% 0;
      background-color: #ffffff;
    color: #000;
    cursor: pointer;
    width: 92%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    border-top: 1px dotted #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .7rem;
    letter-spacing: 0.02em;
}

/* Change color of the heading and icon (on hover and click) */
.active, .accordion:hover, .accordion:hover::after {
  /*background-color: #007eff;
  color: white;*/
}

/* Add "plus" sign (+) after Accordion */
.accordion::after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
}

/* Add "minus" sign (-) after Accordion (when accordion is active) */
.active::after {
  content: "\2212";
  color: #777;
  font-weight: bold;
  float: right;
}

.active + .accordion-panel{
  margin-bottom:10px;
}

/* Style the accordion panel */
.accordion-panel {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
    font-size: .8rem;
        line-height: 1.25;
}

/*.active ~ .identification{
        padding-bottom: 2%;

}*/

.xtra{
    padding-right:3%;
}

.identification{
    max-height: 190px;
    overflow-y:auto;
}

.identification::-webkit-scrollbar {
    background-color: #F3F2F1;
    -webkit-appearance: none;
    width: 7px;
    height: 200px;
        border-radius: 4px;


}

.identification::-webkit-scrollbar-thumb {
    border-radius: 4px;
    height: 3px;
    background-color: #CAC9C9;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

/* States */

.loading .bar {
    background-color: #DAE9EC;
}

.loaded .bar {
    background-color: rgba(255, 153, 0, 0.6);
}

/* Selection text */

.selection {
    background-color: #ff990095;
}

/*Heading text*/

.heading{
    font-weight:700;
}
/* Toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 24px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e76f6f;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #65c16c;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #e76f6f;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(39px);
    -ms-transform: translateX(39px);
    transform: translateX(39px);
  }

  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }

  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    font-size: 8px;
    font-family: Verdana, sans-serif;
  }

  input:checked+ .slider .on
  {display: block;}

  input:checked + .slider .off
  {display: none;}

  /*--------- END --------*/

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;} 


/* Loading */
.loader {
    width: 150px;   
    margin: 0 auto;
}

.text {
    display: block;
    color: #666;
    width: 100%;
    text-transform: uppercase;
    font-family: "messina", sans-serif;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 0.1em;  
  }

.grid-container {
  display: flex;
  width: 140px;
  height: 30px;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.square {
    display: inline-block;
    height: 28px;
    width: 30px;
    background: #ff990095;
    opacity: 0;
    transition: opacity 0.5s ease-in;
    animation: pulse 0.9s infinite alternate;  
  }

  .square:nth-child(0) {
    animation-delay: calc(100*0ms);
  }
  
  .square:nth-child(1) {
    animation-delay: calc(100*1ms);
  }
  
  .square:nth-child(2) {
    animation-delay: calc(100*2ms);
  }
  
  .square:nth-child(3) {
    animation-delay: calc(100*3ms);
  }
  
  .square:nth-child(4) {
    animation-delay: calc(100*4ms);
  }
    
  @keyframes pulse {
    to {
      opacity: 1;
    }
  }