body {
    font-family: system-ui, sans-serif;
    font-size: 75%;  
}

body.enabled {
    width: 500px;
    height: 100%;
}

body.disabled {
    width: 300px;
    height: 40px;
}

.utility-links{
    font-size: smaller;
}